/* Empty. Add your own CSS if you like */
.back-pattern {
    background: url(../img/blue-tile-pattern-vector.png);
    height: 100%;
    background-size: contain; 
}

.item-transparent{
	background-color: transparent !important;
}

.header-background {
	background-color: red;
}